<div style="text-align:center">
        <h2>INDIAN STARTUP FUNDING ANALYSIS</h2>
</div>

In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#importing libraries for machine learning
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('C:/Users/Harshita/Desktop/Stats project Datasets/Unicorn data(funding).csv')
data = pd.read_csv('C:/Users/Harshita/Desktop/Stats project Datasets/full_trak.in_data.csv')

In [3]:
df.head()

,Startup Name,Industry,Founding Year,Unicorn Entry Year,Profit in 2021,Current Valuation,Acquisitions,IPO Status,location,Funding(Amt in USD)
0,PhysicsWallah,Edtech,2016,2022,-$0.877 Million,$1.1 Billion,0,Unlisted,Rajasthan,NaN
1,LeadSquared,SaaS- CRM,2011,2022,-$1 Million,$1 BIllion,0,Unlisted,Karnataka,NaN
2,ElasticRun,E-commerce Logistics,2015,2022,-$12 Million,$1.5 Billion,0,Unlisted,Maharashtra,"20,00,000"
3,LEAD School,Edtech,2012,2022,-$15 Million,$1.1 Billion,1,Unlisted,Maharashtra,NaN
4,Purplle,E-commerce Personal Care,2012,2022,-$6 Million,$1.1 Billion,1,Unlisted,Maharashtra,"5,37,006"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Startup Name         104 non-null    object
 1   Industry             104 non-null    object
 2   Founding Year        104 non-null    int64
 3   Unicorn Entry Year   104 non-null    int64
 4   Profit in 2021       67 non-null     object
 5   Current Valuation    104 non-null    object
 6   Acquisitions         104 non-null    int64
 7   IPO Status           104 non-null    object
 8   location             104 non-null    object
 9   Funding(Amt in USD)  66 non-null     object
dtypes: int64(3), object(7)
memory usage: 8.2+ KB

In [5]:
for i in df.index:
  num = ""
  for c in df.iat[i,5]:
    if c.isdigit() or c == '.':
      num = num + c
      df.loc[i, ['Current Valuation']] = [num]

In [6]:
df['Current Valuation'] = df['Current Valuation'].astype('float64')

In [7]:
df["Funding(Amt in USD)"] = df["Funding(Amt in USD)"].apply(lambda x: str(x).replace(",",""))
df["Funding(Amt in USD)"] = pd.to_numeric(df["Funding(Amt in USD)"],errors='coerce')

In [8]:
df1 = df.dropna()

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 2 to 103
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Startup Name         47 non-null     object
 1   Industry             47 non-null     object
 2   Founding Year        47 non-null     int64
 3   Unicorn Entry Year   47 non-null     int64
 4   Profit in 2021       47 non-null     object
 5   Current Valuation    47 non-null     float64
 6   Acquisitions         47 non-null     int64
 7   IPO Status           47 non-null     object
 8   location             47 non-null     object
 9   Funding(Amt in USD)  47 non-null     float64
dtypes: float64(2), int64(3), object(5)
memory usage: 4.0+ KB

In [10]:
df[['Current Valuation','Funding(Amt in USD)']].corr()

                     Current Valuation  Funding(Amt in USD)
Current Valuation             1.000000             0.880474
Funding(Amt in USD)           0.880474             1.000000

## Regression Analysis

### Splitting the dataframe into training and testing data

In [13]:
#assigning independent variables to x and dependent variable or response variable to y
x = df1[['Funding(Amt in USD)']]
y = df1['Current Valuation']

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [15]:
print("Dimension of x_train :",x_train.shape)
print("Dimension of x_test :",x_test.shape)
print("Dimension of y_train :",y_train.shape)
print("Dimension of y_test :",y_test.shape)

Dimension of x_train : (37, 1)
Dimension of x_test : (10, 1)
Dimension of y_train : (37,)
Dimension of y_test : (10,)

In [16]:
lm = LinearRegression()
reg = lm.fit(x_train,y_train)

In [17]:
predictions = lm.predict(x_test)

In [19]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 2.8821425076694345
MSE: 17.16724199963698
RMSE: 4.1433370608287445

In [20]:
coefficients = pd.DataFrame(lm.coef_,x.columns)
coefficients.columns = ['coefficients']
coefficients

                     coefficients
Funding(Amt in USD)  3.985934e-09

In [21]:
yhat = reg.predict(x)

In [22]:
r2 = r2_score(y,yhat)
print("R-Squared =",r2)

R-Squared = 0.7726082132987129

### Fiiting the model on data (population)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3178 entries, 0 to 3177
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date dd/mm/yyyy    3178 non-null   object
 1   Startup Name       3178 non-null   object
 2   Industry Vertical  3007 non-null   object
 3   SubVertical        2242 non-null   object
 4   City  Location     2998 non-null   object
 5   Investors Name     3154 non-null   object
 6   InvestmentnType    3170 non-null   object
 7   Amount in USD      2203 non-null   object
 8   Unnamed: 8         419 non-null    object
dtypes: object(9)
memory usage: 223.6+ KB

In [24]:
data.head()

,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Unnamed: 8
0,04/03/2021,DealShare,E-commerce,Online shopping platform,"Jaipur, Rajasthan",Innoven Capital,Debt Financing,"250,000,000",NaN
1,31/03/2021,Uniphore,Technology,Conversational Service Automation (CSA),Palo Alto,Sorenson Capital Partners,Series D,"140,000,000",NaN
2,30/03/2021,Dunzo,E-commerce,Hyper-local delivery app,Bengaluru,Krishtal Advisors Pte Ltd,Series E,"8,000,000",NaN
3,30/03/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F,"460,000,000",NaN
4,23/03/2021,SkilloVilla,Edu-tech,Career and job-oriented upskilling.,Bengaluru,"Titan Capital, others",Seed,"300,000,000",NaN

In [25]:
data = data.filter(['Amount in USD'])
data

     Amount in USD
0      250,000,000
1      140,000,000
2        8,000,000
3      460,000,000
4      300,000,000
...            ...
3173     45,00,000
3174      8,25,000
3175     15,00,000
3176           NaN
3177      1,40,000

[3178 rows x 1 columns]

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3178 entries, 0 to 3177
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Amount in USD  2203 non-null   object
dtypes: object(1)
memory usage: 25.0+ KB

In [27]:
data["Amount in USD"] = data["Amount in USD"].apply(lambda x: str(x).replace(",",""))
data["Amount in USD"] = pd.to_numeric(data["Amount in USD"],errors='coerce')

data['Amount in USD'] = data['Amount in USD'].replace({
        'undisclosed': np.NaN,
        'unknown': np.NaN,
        'Undisclosed': np.NaN,
        'N/A': np.NaN,
        '14342000+': '14342000'
    })

data.dropna(subset = ['Amount in USD'],axis = 0,inplace = True)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2180 entries, 0 to 3177
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Amount in USD  2180 non-null   float64
dtypes: float64(1)
memory usage: 34.1 KB

In [29]:
Funding = data['Amount in USD'].values

In [30]:
Funding

array([2.50e+08, 1.40e+08, 8.00e+06, ..., 8.25e+05, 1.50e+06, 1.40e+05])

### Saving and Loading the model

In [31]:
import pickle
saved_model = pickle.dumps(lm)

In [32]:
lm1 = pickle.loads(saved_model)
prediction = lm1.predict(data)

In [33]:
predicted_values = pd.DataFrame(prediction,columns = ['Predicted Valuation'])
predicted_values

      Predicted Valuation
0                3.883213
1                3.444760
2                2.918617
3                4.720259
4                4.082510
...                   ...
2175             2.896695
2176             2.904666
2177             2.890018
2178             2.892709
2179             2.887288

[2180 rows x 1 columns]

In [34]:
F = pd.DataFrame(Funding,columns = ['Funding'])
F

          Funding
0     250000000.0
1     140000000.0
2       8000000.0
3     460000000.0
4     300000000.0
...           ...
2175    2500000.0
2176    4500000.0
2177     825000.0
2178    1500000.0
2179     140000.0

[2180 rows x 1 columns]

In [35]:
result = pd.concat([F,predicted_values], axis=1)
result

          Funding  Predicted Valuation
0     250000000.0             3.883213
1     140000000.0             3.444760
2       8000000.0             2.918617
3     460000000.0             4.720259
4     300000000.0             4.082510
...           ...                  ...
2175    2500000.0             2.896695
2176    4500000.0             2.904666
2177     825000.0             2.890018
2178    1500000.0             2.892709
2179     140000.0             2.887288

[2180 rows x 2 columns]

In [36]:
result.to_csv('predict.csv')